-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'VEGAN ON CAMPUS', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', root_path
        %li= link_to 'About', page_path(:about)
        %li= link_to 'Campuses', campuses_path
        %li= link_to 'Resources', page_path(:resources)
        %li= link_to 'Contact', page_path(:contact)
