!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) + ' - Vegan on campus' : 'Vegan on campus'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Veganoncampus'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      - if current_user
        = "Logged in as #{current_user.first_name}"
        = link_to "Log out", sign_out_path
      - else
        = link_to "Register", sign_up_path
        = link_to "Log in", sign_in_path

      = render 'navigation'
    %main{:role => "main"}
      = render 'messages'
      = yield
      = render 'twitter_feed'
    = render 'footer'
  = render 'google_analytics' if Rails.env.production?
